

      
        .borderinner {
            width: 500px;
            height: 120px;
            margin: 0 auto; 
            background: #f8f8ff;
            border-radius: 10px;
            border: 1px dotted darkblue;
        }

        .borderouter {
            width: 700px;
            height: 200px;
            margin: 0 auto; 
            background: #f0f0ff;
            border-radius: 10px;
            border: 1px dotted darkblue;
        }
        
        .margino {
            margin-left: 30px;
            margin-top: 10px;
        }

       