{{define "content"}}
<div class="login_formouter">
        <div>
        <h2 align="center">{{.Title}}</h2>
        <div align="center">Demonstrating how to create a unique password based on the websites url</div>
        <br>

        </div>
        <form class="login_form" action="/generate/{{.WebURL}}" method="POST">
            <div class="margino">
                <br>Enter Website Url:<br>
                <input type="text" name="url" size="50" value = {{.WebURL}}>
                <br>
            </div>
            <div class="margino">
                <input id="submit" type="submit" value="Generate">
            </div>
        </form>
    <div class="margino" align="center"><b>{{.Result}}</b></div>
</div>
{{end}}