{{define "content"}}
<div class="borderouter">
        <div>
            <h2 align="center">{{.Title}}</h2>
            <div align="center">
                    This will generate a reproducible password based on the corresponding url<br>
                    You do not need a password manager to store the password<br>
                    as you can simply recompute the password here<br>
                </div>
        </div>
</div>
<div class="borderinner">
<!--    <form action="/generate/{{.WebURL}}" method="POST">-->
        <form action="/generate" method="POST">
            <div class="margino">
                Enter public key: <input type="text" name="pepper" size="50" value = {{.PublicKey}}>
                <br><i>Do not forget your public key</i>
                <br><br>Enter Website url:
                <br>
                <input type="text" name="url" size="50" value = {{.WebURL}}>
                <br>
            </div>
            <div class="margino">
                <input id="submit" type="submit" value="Generate">
            </div>
    </form>
</div>
<div class="margino" align="center"><b>{{.Result}}</b>
</div>
{{end}}