{{define "content"}}
<div class="borderouter">
        <div>
            <h2 align="center">{{.Title}}</h2>
            <div align="center">
                    This program generates a reproducible password based on the corresponding url<br>
                    This means you will not be required to store any passwords
            </div>
            <br>
        </div>
        <form class="borderinner" action="/generate/{{.WebURL}}" method="POST">
            <div class="margino">
                <br>Enter Website Url:
                <br>
                <input type="text" name="url" size="50" value = {{.WebURL}}>
                <br>
            </div>
            <div class="margino">
                <input id="submit" type="submit" value="Generate">
            </div>
        </form>
    <div class="margino" align="center"><b>{{.Result}}</b></div>
</div>
{{end}}